---
layout: post
---

{% assign coursenumber = page.coursenumber %}
{% assign year = page.shortsemester | slice: 0, 4 %}
{% assign semesterabbrev = page.shortsemester | slice: -1 %}
{%- case semesterabbrev -%}
  {%- when "A" -%}
    {%- assign semester="Spring" -%}
  {%- when "B" -%}
    {%- assign semester="Summer" -%}
  {%- when "C" -%}
    {%- assign semester="Fall" -%}
  {%- else -%}
    {%- assign semester="Other" -%}
{%- endcase -%}

{%- if page.combinedsection -%}
  {%- capture printcoursenumber -%}
    {{- page.coursenumber -}}/{{- page.combinedsection -}}
    {%- endcapture %}
{%- else -%}
  {%- assign printcoursenumber = page.coursenumber -%}
{%- endif %}

{% capture courseassetsdir %}/courses/course_static_assets/{{ page.shortsemester }}-{{ coursenumber }}{% endcapture %}

<div>
<h2>
  {% if page.courseprefix %}{{ page.courseprefix }}{% else %} Math {% endif %} {{ printcoursenumber }}, {{ semester }} {{ year }}
</h2>
</div>

{% if page.catalog %}
<div>
  {{page.catalog | markdownify}}
</div>
{% endif %}


{% assign syllabusprefix = "zteitler" %}
{% capture syllabusbasename %}
{{ page.shortsemester }}-{{ coursenumber }}-syllabus
{% endcapture %}

{%- if page.syllabus_pdf or page.syllabus_html or page.syllabus_standalone_html -%}
<div>
<h2>Syllabus:</h2>
<ul>
  {%- if page.syllabus_html -%}
    <li>
      <a href="{{ courseassetsdir }}/{{ syllabusbasename }}-html/{{ syllabusprefix }}-{{ syllabusbasename }}.html">HTML (accessible)</a>
    </li>
  {%- endif -%}
  {%- if page.syllabus_standalone_html -%}
    <li>
      <a href="{{ courseassetsdir }}/{{ syllabusprefix }}-{{ syllabusbasename }}-standalone.html">HTML (accessible, single page)</a>
    </li>
  {%- endif -%}
  {%- if page.syllabus_pdf -%}
    <li>
      <a href="{{ courseassetsdir }}/{{ syllabusprefix }}-{{ syllabusbasename }}.pdf">PDF</a>
    </li>
  {%- endif -%}
</ul>
</div>
{%- endif -%}


{{ content }}
